/*忘记密码  样式*/
.help_center_logo{
    height: 80px;
    line-height: 80px;
  }
  .help_center_logo>a{
    width: 260px;
    height: inherit;
    display: inline-block;
    background: url(../img/logo.png) center no-repeat;
    background-size: contain;
    float: left;
  }
.forgetPassword{
	width:100%;
	min-height: 28.5714em;
	margin-top: 2.1429em;
}
.forgetPasswordDiv{
	/* width: 80%; */
	min-height: 28.5714em;
	margin-left:30px;
	margin-top: 3.572em;
}
/*进度条色块*/
.forgetPasswordIcon{
	display: inline-block;
	width: 19.643em;
	height: 2.857em;
	text-align: center;
	line-height: 2.857em;
	font-weight: 500;
	background-image: url(../img/forpassword.PNG);
	background-repeat: no-repeat;
}
/*色块一*/
#forS1{
	background-position:0 -2.357em;
}
/*色块二*/
#forS2{
	background-position:0 -8.5em;
	margin-left: -0.3571em;
}
/*色块三*/
#forS3{
	background-position:0 -14.5em;
	margin-left: -0.3571em;
}
.passWid{
	/* margin-left:30%; */
	margin-top: 3.572em;
}
.passWid .form-group{
    margin-bottom:0;
    line-height:60px;
}
.passWid>span,
.passWid>input,
.passWid>slect{
	display:block;
}
.passWid>span{
	margin-top: 1.4286em;
}
.passWid label{
    font-size: 16px;
}
.passWid input,
.passWid select{
	width:21.4286em;
	height: 2.857em;
	line-height: 2.857em;
	border: 1px solid #ddd;
	margin-top: 1.4286em;
	padding: 0;
	padding-left:0.7143em;
}
#passWid002{
	width:8.5714em;
	border: 1px solid gainsboro;
	padding-left:0.7143em;
	display: block;
	float: left;
}
#miasdWd{
	margin-left: 15px;
	width:7.1429em;
	height: 40px;
	display: inline-block;
	background:#F1F1F1;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
#miasdWdas{
	cursor: pointer;
	position: relative;
	top:-15px;
	left:10px;
	color: #3392ff;
	vertical-align: middle;
}
/*按钮*/
#inp01,#inp02,#inp03,#fourIcon{
	color: #FFFFFF;
	font-size: 1.143em;
	width: 8.75em;
	height: 2.5em;
	border: none;
	padding-left:0;
	margin-top: 2.5em;
	line-height: 2.5em;
	background: #3392ff;
}
.passWidD03{
	height: 7.143em;
	font-weight: 500;
}
#threeIcon{
	display: inline-block;
	height: 2em;
	line-height: 2em;
	font-size: 1.429em;
	padding-left: 2em;
	background: salmon;
	background: url(../img/forpassword.PNG) no-repeat;
	background-position: 0 -30em;
}
#fourIcon{
	margin: 0 0.3571em;
	text-align: center;
	font-weight: 500;
	line-height: 40px;
	cursor: pointer;
	display: inline-block;
}
