.page{
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #8db5e3;
    margin: 5px;
    background-color: #8db5e3;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #8db5e3;
    background-color: #8db5e3;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #f2f2f2;
    margin: 5px;
    cursor: no-drop;
    background-color: #f2f2f2;
}
