/*step*/
.step {
  counter-reset: flag;
}
.step li {
  position: relative;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.step li a {
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.step li a:before {
  content: counter(flag);
  counter-increment: flag;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.step li a:after {
  content: "";
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.step-round {
  margin-top: 40px;
}
.step-round > li:first-child > a:after {
  left: 30%;
  border-radius: 5px 0 0 5px;
}
.step-round > li:last-child > a:after {
  right: 30%;
  border-radius: 0 5px 5px 0;
}
.step-round > li.active > a,
.step-round > li.active > a:hover,
.step-round > li.active > a:focus {
  background: transparent;
  color: #01cc01;
}
.step-round > li.active > a:before,
.step-round > li.active > a:hover:before,
.step-round > li.active > a:focus:before {
  background-color: #01cc01;
  color: #ffffff;
}
.step-round > li.active > a:after,
.step-round > li.active > a:hover:after,
.step-round > li.active > a:focus:after {
  background-color: #01cc01;
}
.step-round > li > a {
  color: #9d9b9b;
}
.step-round > li > a:before {
  position: absolute;
  z-index: 2;
  top: -2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ffffff;
  line-height: 2rem;
  box-shadow: 0 0 0 5px #ccc;
}
.step-round > li > a:after {
  position: absolute;
  left: 0;
  right: 0;
  top: -50%;
  background-color: #ccc;
  z-index: 1;
  height: 15px;
}
.step-round > li > a:after:after {
  background-color: #01cc01;
}
.step-round > li > a:hover {
  background: transparent;
  color: #01cc01;
}
.step-round > li > a:hover:before {
  background-color: #01cc01;
  color: #ffffff;
}
.step-round > li > a:hover:after {
  background-color: #01cc01;
}

/*step-progress*/
